<section class="relative py-2 bg-blueGray-50 rounded-xl">
  <div class="w-full px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-2 shadow-lg rounded bg-gray-600 text-white">
      <div class="rounded-t mb-0 px-4 py-2 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 ">
            <h3 class="text-base text-white text-center">
              <%= t(".coming_soon?") %>
            </h3>
          </div>
        </div>
      </div>
      <div class="w-full h-px bg-gray-200 rounded mb-2"></div>
      <div class="block w-full overflow-x-auto">
        <div class="border-t-0 px-3 align-middle border-l-0 border-r-0 whitespace-nowrap p-2">
          <ul class="flex justify-center">
            <% @pre_entry_dogs_public_view.each do |dog| %>
              <li class="w-12 h-12 mx-1">
                <%= link_to togo_inu_shitsuke_hiroba_dog_path(dog) do %>
                  <%= dog_thumbnail(dog) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
