<% content_for(:title, t('.title_dogrun')) %>
<body class="my-auto mx-auto">
  <div class='py-10'>
    <div class='mt-7 text-3xl text-center font-bold'>
      <h1 class='text-4xl text-indigo-800 font-semibold' style='padding-bottom: 20px;'><%= t('.dogrun') %></h1>
    </div>
    <div class="max-w-md mx-auto xl:max-w-5xl lg:max-w-5xl md:max-w-2xl bg-gray-700 shadow-2xl flex-row rounded relative">
      <div class="p-2 bg-gray-600 text-blue-900 rounded-t">
        <h5 class="text-white text-2xl capitalize"><%= t'.title' %></h5>
      </div>
      <div class="p-2 w-full h-full overflow-y-auto text-gray-100">
        <h3 class="text-lg mt-2 font-bold">
          遵守事項
        </h3>
        <nav class="list-decimal list-outside mb-3">
          <li class="mb-1">場内で起きたトラブルは飼い主同士で解決すること。</li>
          <li class="mb-1">場内では犬にリードをつけない。</li>
          <li class="mb-1">飼い主は犬だけを残して広場から出ない。</li>
          <li class="mb-1">7才以下の子ども、妊婦、体力に自信のない高齢者の入場を禁止する。</li>
          <li class="mb-1">首輪はゆるみのないバックル式または留め金式を使用すること。</li>
          <li class="mb-1">水飲み容器の共有、置きっぱなしを禁止する。</li>
          <li class="mb-1">メインコート・サブコート、共に他の犬が1頭でも入場している場合は玩具（ボール、フリスビー等）、フードの使用を禁止する。</li>
          <li class="mb-1">犬のマーキングは消臭剤で匂いを処理すること。</li>
          <li class="mb-1">生理終了後40日経過していないメス犬の入場を禁じる。</li>
          <li class="mb-1">犬に洋服を着せない。</li>
        </nav>
        <h3 class="text-lg mt-2 font-bold">
          確認事項
        </h3>
        <nav class="list-decimal list-outside mb-3">
          <li class="mb-1">飼い主は運動のできる服装・靴でお越しください。</li>
          <li class="mb-1">広場にはトイレ・水道の設備はありません。</li>
          <li class="mb-1">犬のしつけ広場は安全な場所ではありません。</li>
          <li class="mb-1">場内における犬の行動はすべて飼い主の責任となります。</li>
          <li class="mb-1">利用者は個人の責任のもとに入場してください。</li>
          <li class="mb-1">駐車場、土手での犬のノーリード、糞の放置は絶対にしないでください。</li>
          <li class="mb-1">広場周辺の違法駐車は固くお断りします。</li>
          <li class="mb-1">利用するにあたり、駐車場・広場周辺におけるすべての犬の行動はその飼い主が責任をもって対処してください。東郷町および広場管理スタッフは責任を負いかねます。</li>
        </nav>
      
      </div>
    </div>
  </div>
</body>
