<% content_for(:title, t('.title_dogrun')) %>
<body class="my-auto mx-auto">
  <div class='py-10'>
    <div class='mt-7 text-3xl text-center font-bold'>
      <h1 class='text-4xl text-indigo-800 font-semibold' style='padding-bottom: 20px;'><%= t('.dogrun') %></h1>
    </div>
    <div class="max-w-md mx-auto xl:max-w-5xl lg:max-w-5xl md:max-w-2xl bg-gray-700 max-h-screen shadow-2xl flex-row rounded relative">
      <div class="p-2 bg-gray-600 text-blue-900 rounded-t">
        <h5 class="text-white text-2xl capitalize"><%= t'.title' %></h5>
      </div>
      <div class="p-2 w-full h-full overflow-y-auto text-gray-100">
        <p class="text-justify py-2">
          HotSymbol is a simple and easy online tool to copy <a class="text-blue-300 hover:text-gray-400" href="https://www.hotsymbol.com/symbols" title="copy symbol">symbol</a>, text <a class="text-blue-300 hover:text-gray-400" href="https://www.hotsymbol.com/emojis" title="copy emoji">emoji</a> characters, and signs to Facebook posts, Instagram bio, blog posts, WhatsApp, Snapchat chat and comments, nicknames in games, or wherever else - these symbols work just about everywhere.
        </p>
        <p class="text-justify py-2">
          We are growing this website timely. and adding more stunning features to make the web and mobile easy keeping care of the whole range of audiences. when we build the HotSymbol website we take care of many tiny details such as website User experience, Website performance, speed, design, etc. This is the reason you will find the HotSymbol website faster and feature reach than any other website available on the internet.
        </p>
      </div>
    </div>
  </div>
</body>
