<div class="mx-auto text-center text-gray-500 mb-1">
  <p class="sm:hidden text-fuchsia-500 text-sm mt-5">各ドッグランのロゴ or 名前をクリックすると<br>そのドッグラン用のTOP画面に移動します</p>
  <p class="hidden sm:block text-fuchsia-500 texxt-sm mt-5">各ドッグランのロゴ or 名前をタップすると<br>そのドッグラン用のTOP画面に移動します</p>
</div>
