<div class="mx-auto text-center text-gray-500 mb-3">
  <p class="sm:hidden text-fuchsia-500 mt-5">各ドッグランのロゴ or 名前をクリックするとそのドッグラン用のTOP画面に移動します</p>
  <p class="hidden sm:block text-fuchsia-500 mt-5">各ドッグランのロゴ or 名前をタップするとそのドッグラン用のTOP画面に移動します</p>
</div>
