<header class="bg-gray-200 dark:bg-gray-800 w-full px-8 py-4 h-18 text-gray-600 body-font">
  <!-- logo -->
  <div class="w-64 mx-auto md:mx-0">
    <%= link_to '/', class: "flex w-full font-medium items-center justify-center" do %>
      <%= image_tag 'app_logo.png', class: "w-auto h-auto dark:hidden", alt: "dogrunconnect_icon"%>
      <%= image_tag 'app_logo_for_dark_mode.png', class: "w-0 h-0 dark:w-auto dark:h-auto", alt: "dogrunconnect_icon"%>
    <% end %>
  </div>
  <!-- end logo -->
</header>
