<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @user.name %>様</h2>
    <p>
      DogrunConnectで新規ご登録いただいたアカウントが<br>
      正常に有効化されました。<br>
      <br>
      これより以下のリンクのログインフォームからアプリにログインして<br>
      サービスを利用することができます。
      <%= @url %><br>
      <br>
      このアプリであなたとあなたのワンちゃんとの日々がより素晴らしいものになることを願っております。<br>
      <br>  
      DogrunConnect U・ω・U
    </p>
  </body>
</html>
