<h2> <%= DogrunPlace.find(@user.dogrun_place_id).name %> ご担当者 様</h2>
<p>
  この度はDogrunConnectアプリに貴ドッグランをご登録いただき誠にありがとうございます。<br>
  管理者ユーザーを登録いたしましたので、これより管理者ユーザーページをご利用いただけます。<br>
  ログイン時に必要なメールアドレスはこのメールの宛先のものとなっております。<br>
  <br>
  管理者ユーザーログイン: https://www.dogrunconnect.com/admin/login <br>
  <br>
  初期パスワードは password としております。<br>
  パスワードの変更は下記で実施できますので、変更することを強く推奨いたします。<br>
  <br>
  パスワードの変更: https://www.dogrunconnect.com/password_resets/new <br>
  <br>
  このアプリが貴ドッグランとそのご利用者様にとって良いものになることを願っております。<br>
  <br>  
  DogrunConnect U・ω・U
</p>
