<h2> <%= @dog.name %> ちゃんの飼い主 様</h2>
<p>
  お世話になります。<br>
  DogrunConnectです。<br>
  <br>
  <%= @dogrun.name %> に入場してから長時間経過しましたが、<br>
  アプリ上では入場したままとなっておりました。<br>
  <br>
  勝手ながらこちらでご利用記録の更新を行い退場とさせていただきました。<br>
  ご承知おきいただきますよう、よろしくお願いいたします。<br>
  <br>
  もし、アプリの不備等で退場できない状態に陥られてた場合、<br>
  お手数ですがその旨ご連絡いただければ有難いです。<br>
  ご面倒をおかけしますがよろしくお願いいたします。<br>
  <br>
  DogrunConnect U・x・U
</p>
