<h2>DogrunConnectへようこそ <%= @user.name %> 様</h2>
<p>
  これより以下のリンクのログインフォームからアプリにログインして<br>
  サービスを利用することができます。
  <br><%= @url %><br>
  <br>
  このアプリであなたとあなたのワンちゃんとの日々がより素晴らしいものになることを願っております。<br>
  <br>  
  DogrunConnect U・ω・U
</p>
