<h2>DogrunConnectへようこそ <%= @user.name %> 様</h2>
<p>
  ユーザー登録いただきありがとうございます。<br>
  これよりサービスを利用することができます。<br>
  <br>
  このアプリであなたとあなたのワンコとの日々がより素晴らしいものになることを願っております。<br>
  <br>  
  DogrunConnect U・ω・U
</p>
