<% content_for(:title, t('.title')) %>
<div class="w-full mx-auto px-3 sm:px-6 lg:px-8 mt-5 bg-gray-300">
  <div class="w-full shadow rounded p-8">
    <%= simple_format(t('.title'), { class: 'text-xl font-bold leading-7 text-center' }, { wrapper_tag: "div" } ) %>
    <%= render partial: 'admin/articles/form', locals: { article: @article } %>
  </div>
</div>
