<%= turbo_frame_tag "user_detail_show_modal" do %>
  <div data-controller="turbo-form-modal" data-turbo-form-modal-target="modal" data-action="turbo:submit-end->turbo-form-modal#submitEnd" 
    class="animate-fade-in flex items-center justify-center fixed z-30 inset-0 h-full p-3">
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <%= turbo_frame_modal_close_button %>
    <div class="turbo-form-modal w-auto max-w-[400px] p-4 bg-purple-200 backdrop-blur bg-opacity-75">
      <%= render partial: "shared/user_detail_content", locals: { user_detail: @user_detail, edit_user_detail_path: @edit_user_detail_path, user_detail_path: @user_detail_path } %>
    </div>
  </div>
<% end %>
