<% content_for(:title, @title) %>
<div class="max-w-5xl md:mx-auto px-2 pb-2 sm:mx-32 bg-purple-200 rounded-lg">
  <div class="w-full p-8 sm:p-10">
    <p class="text-lg font-bold leading-7 text-center text-gray-700 mb-3">
      <%= @title %>
    </p>
    <%= content %>
  </div>
</div>
