<% content_for(:title, I18n.t('reon.static_pages.terms_of_service.title', dogrun: @dogrun_place.name)) %>
<body class="my-auto mx-auto">
  <div class='py-2'>
    <div class="max-w-md mx-auto xl:max-w-5xl lg:max-w-5xl md:max-w-2xl bg-gray-700 shadow-2xl flex-row rounded relative">
      <div class="p-2 bg-gray-600 text-blue-900 rounded-t">
        <div class="text-white text-2xl capitalize"><%= I18n.t('reon.static_pages.terms_of_service.title', dogrun: @dogrun_place.name) %></div>
      </div>
      <div class="p-2 w-full h-full overflow-y-auto text-gray-100">
        <h3 class="text-lg mt-2 font-bold">
          初回ご利用の方
        </h3>
        <h5 class="text-base mb-2 pl-2">
          以下のご準備をお願いします。
        </h5>
        <nav class="list-disc list-outside mb-3">
          <li class="mb-1">狂犬病予防接種証明<br>（※接種日から1年以内の証明に限ります）</li>
          <li class="mb-1">5種以上の混合ワクチンの接種証明<br>（※接種日から1年以内の証明に限ります）</li>
          <li class="mb-1">飼い主様の身分証<br>（※免許証など、本人確認が出来るもの）</li>
        </nav>
        <h3 class="text-base my-2 font-semibold">
          次回からは、初回に発行されたメンバーズカードをご提示いただければスムーズにご利用が可能です。
        </h3>
        <nav class="list-decimal text-base">
          <li class="mb-2">当施設はペットのお預かりを目的とする施設ではございません。</li>
          <li class="mb-2">ご利用中は同伴者の責任において、管理及び安全確保を行なっていただきますようお願いします。</li>
          <li class="mb-2">また正しいしつけができていること、トイレのしつけができていること。<br>
                            伝染病等にかかっていないこと、ノミ・ダニ・寄生虫などが駆除されていること、
                            清潔を保たれている場合のみご利用いただけます。</li>
          <li class="mb-2">敷地内での（ドッグラン含む）排泄物については、同伴者が責任を持って処分してください。<br>
                            トイレに流す・施設内の一般ゴミへの廃棄は禁止します。</li>
          <li class="mb-2">敷地内での（ドッグラン含む）ペットに起因するお客様どうしのトラブル、ペット同士の喧嘩、
                            他の自然動物と争いによる不祥、死亡、妊娠、逃走及び他の利用者等第三者に危害を加えまたは
                            損害を与えた場合の責任はペット同伴者の管理責任となり、当施設は一切の責任を負うものでは
                            ありません。</li>
          <li class="mb-2">他のお客様への迷惑な行為等により苦情が発生したにもかかわらず、自粛要請への改善が見られない場合、
                            またはご利用規約をご遵守いただけない場合は、当施設の判断においてご利用を制限させていただく場合が
                            ございます。使用料の返金は致しません。</li>
          <li class="mb-2">ペットを置いて敷地外へお出かけはご遠慮ください。</li>
        </nav>
        <h3 class="text-lg mt-2 font-bold">
          「ドッグラン施設利用上の注意」を良くご確認の上ご利用をお願いします。
        </h3>
      </div>
    </div>
  </div>
</body>
