<% content_for(:title, @title) %>
<div class="max-w-5xl mx-3 sm:mx-auto sm:px-3 lg:px-4 bg-purple-200 rounded-lg">
  <div class="w-full p-5 sm:p-10">
    <p class="my-2">
      <%= simple_format(t(@title), class: "text-2xl md:text-3xl font-bold text-gray-700 text-center") %>
    </p>
    <%= content %>
  </div>
</div>
