<div class="relative mb-3">
  <div class="flex absolute right-0 pr-5">
    <%= post.box_header_icon %>
  </div>
</div>
<div class="p-2 md:px-20 text-gray-600 mt-5" data-controller="lightbox">
  <% if !post.article.photo.blank? %>
    <%= link_to post.article.photo.url do %>
      <%= article_photo(post.article) %>
    <% end %>
  <% else %>
    no image
  <% end %>
  <%= simple_format(post.article.content, { class: 'text-base text-gray-600 mt-2 px-3 mb-1 text-left' }, { wrapper_tag: "div" } ) %>
</div>
