<button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" data-back-to-top-target="button" class="hidden rounded-xl bg-gray-600 text-gray-200 z-30 fixed bottom-5 right-5 opacity-75">
  <svg class="w-10 h-10"fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.23 15.79a.75.75 0 01-.02-1.06l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 11-1.08 1.04L10 11.832 6.29 15.77a.75.75 0 01-1.06.02zm0-6a.75.75 0 01-.02-1.06l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 11-1.08 1.04L10 5.832 6.29 9.77a.75.75 0 01-1.06.02z"></path>
  </svg>
</button>
