<% if !publishing_post.blank? %>
  <div class="mx-auto pb-2 px-2 max-w-min rounded-xl border-2 border-neutral-400
    bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]">
    <h3 class="flex items-end justify-center text-white font-bold text-xl"><%= t('local.static_pages.top.dogrun_board') %></h3>
    <div class="relative flex justify-center">
      <% if publishing_post[0].embed? && publishing_post[0].embed.instagram? %>
        <%= link_to('javascript:void(0);', onclick: "window.location.reload();", 
            class: "z-10 absolute top-1 right-1 rounded-full bg-amber-500 w-7 h-7 ml-2 flex focus:outline-none shadow-xl drop-shadow-lg") do %>
          <svg class="w-5 h-5 text-white mx-auto my-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
          </svg>
        <% end %>
      <% end %>
      <%= post_viewing(publishing_post[0]) %>
    </div>
  </div>
<% end %>
