<% if !publishing_post.blank? %>
  <div class="mx-auto pb-2 px-2 max-w-min rounded-xl border-2 border-neutral-400
    bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]">
    <h3 class="mx-auto w-2/3 flex justify-center p-[4px] text-white rounded-xl font-bold text-xl text-opacity-80 bg-gray-500 backdrop-blur bg-opacity-30" style="box-shadow: inset 1px 3px 6px rgba( 0, 0, 0, 0.5);">
      <%= t('local.static_pages.top.dogrun_board') %>
    </h3>
    <div class="relative flex justify-center">
      <%= post_viewing(publishing_post[0]) %>
    </div>
  </div>
<% end %>
