<dialog class="rounded-lg bg-purple-200 shadow-xl w-4/5 md:w-1/3 backdrop:bg-gray-700 backdrop:bg-opacity-50 open:animate-fade-in open:backdrop:animate-fade-in" data-form-modal-target="modal">
  <button type="button" data-action="form-modal#close" class="float-right">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="px-2 py-2 border-b border-gray-200">
    <h3 class="text-lg leading-6 font-bold text-gray-900">
      <%= t'defaults.encount_dog_memo' %>
    </h3>
    <div class="mt-4">
      <%= simple_format(encount_dog.memo, class: "text-base font-normal w-full") %>
    </div>
  </div>
</dialog>
