<div class="hidden fixed z-30 inset-0 overflow-y-auto" data-lightbox-target="modal">
  <div class="flex items-center justify-center h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
<%# Background %>
    <div class="opacity-0 fixed inset-0 transition-opacity" data-lightbox-target="background">
      <div class="absolute inset-0 bg-gray-700 bg-opacity-75">
<%# top left slide labels %>
        <div class="sm:block absolute top-0 left-0 pt-4 pl-4">
          <span class="text-white font-medium">
            <!-- will hold the slide name -->
          </span>
        </div>

<%# X-close icon in top-right corner %>
        <div class="sm:block absolute top-0 right-0 pt-4 pr-4">
          <%= link_to "#", class: "text-gray-100", data: { action: "click->lightbox#handleClose" } do %>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          <% end %>
        </div>
      </div>
    </div>

<%# Trick the browser into centering modal contents %>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="relative inline-block align-bottom rounded-lg text-left overflow-hidden transition-all sm:my-8 sm:align-middle sm:w-3/4 inset-0">
      <%= turbo_frame_tag :attachment_gallery, src: "", data: { "lightbox-target": "frame"} %>
    </div>
  </div>
</div>
