<header class="bg-white w-full px-8 py-4 h-20 text-gray-600 body-font">
  <!-- logo -->
  <div class="w-64 flex-shrink-0 mx-auto md:mx-0 mr-2 text-center md:text-left">
    <%= link_to '/', class: "flex w-full title-font font-medium text-gray-900 items-center md:justify-start" do %>
      <%= image_tag 'dogrun_logo.png', class: "rounded-full w-10 h-10 bg-indigo-200", alt: "dogrunconnect_logo"%>
      <span class="ml-3 text-xl"><%= t'defaults.app_name' %></span>
    <% end %>
  </div>
  <!-- end logo -->
</header>
