<% if !dog.notice_badge.nil? || !dog.alart_badge.nil? %>
  <div class="grid grid-cols-5 gap-1 mx-auto">
    <% if !dog.notice_badge.nil? %>
      <div class="ml-2 mb-3">
        <%= dog.notice_badge %>
      </div>
      <div class="col-span-4">
        <%= dog.notice_message %>
      </div>
    <% end %>
    <% if !dog.alart_badge.nil? %>
      <div class="my-auto">
        <%= dog.alart_badge %>
      </div>
      <div class="col-span-4">
        <%= dog.alart_message %>
      </div>
    <% end %>
  </div>
<% end %>
