<%= turbo_frame_tag dom_id(dogrun_place, "pre_entry_dog_#{pre_entry_dog.id}") do %>
  <div class="w-12 h-12 mx-1 animate-roll-in-right">
    <%= link_to togo_inu_shitsuke_hiroba_dog_path(pre_entry_dog) do %>
      <%= dog_thumbnail_for_top(pre_entry_dog, current_user) %>
    <% end %>
  </div>
<% end %>
