<%= turbo_frame_tag dom_id(DogrunPlace.find(2), "pre_entry_dog_#{pre_entry_dog.id}") do %>
  <div class="w-12 h-12 mx-1 animate-roll-in-right">
    <%= link_to togo_inu_shitsuke_hiroba_dog_path(pre_entry_dog) do %>
      <%= dog_thumbnail(pre_entry_dog) %>
    <% end %>
  </div>
<% end %>
