<div class="px-2 py-1">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet">
    <%= image_tag 'tadpole.svg', class: "mx-auto my-auto w-8 h-8" %>
    <a href="#{<%= post.embed.identifier %>}"></a>
  </blockquote>
</div>
