<div class="p-2">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet">
    <p class="text-center"><%= t('.processing_embed_tweet') %></p>
    <a href="#{<%= post.embed.identifier %>}"></a>
  </blockquote>
</div>
