<%= turbo_frame_tag dom_id(dogrun_place, "dogrun_board") do %>
  <% if !publishing_post.blank? %>
    <div class="flex justify-center">
      <%= post_viewing(publishing_post[0]) %>
    </div>
  <% else %>
    <%= render partial: "dogrun_board_blank", locals: { dogrun_place: dogrun_place } %>
  <% end %>
<% end %>
