<%= turbo_frame_tag dom_id(dogrun_place, "dogrun_board") do %>
  <div class="flex text-white mx-24 justify-center my-3 text-lg font-bold">
    <svg class="w-5 h-5 mr-2 my-auto" viewBox="0 0 24 24" stroke-width="2.11" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffff">
      <path d="M4 21.4V2.6a.6.6 0 01.6-.6h11.652a.6.6 0 01.424.176l3.148 3.148A.6.6 0 0120 5.75V21.4a.6.6 0 01-.6.6H4.6a.6.6 0 01-.6-.6z" stroke="#ffff" stroke-width="2.11" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M16 2v3.4a.6.6 0 00.6.6H20" stroke="#ffff" stroke-width="2.11" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    blank
  </div>
<% end %>
