<% content_for(:title, t('.title')) %>
<div class="w-full mx-auto px-3 sm:px-6 mt-5 bg-gray-300">
  <div class="w-full shadow rounded p-6">
    <%= simple_format(t('.title'), { class: 'text-2xl font-bold leading-7 text-center mb-10' }, { wrapper_tag: "div" } ) %>
    <%= render partial: 'admin/posts/publish_limit_form', locals: { post: @post } %>
  </div>
  <%= @post.post_viewing %>
</div>
