<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @contact.name %> 様 から問い合わせがありました。<br>
      【送信元アドレス】:<%= @contact.email %><br>
      【お問い合わせ内容】<br>
    </p>
    <span style="white-space: pre-wrap;"><%= simple_format(h(@contact.message)) %></span>
  </body>
</html>
