<% content_for(:title, t('.title')) %>
<div class="container bg-gray-300 h-screen">
  <div class="mt-2 ml-2">
    <h1><%= t('.registered_dogrun') %></h1>
  </div>
  <%= render partial: 'admin/dogrun_places/form' %>
  <ul class="mt-10">
    <%= render @dogrun_places %>
  </ul>
</div>
