<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="next">
  <%= link_to_unless current_page.last?, t('views.pagination.next').html_safe, url, rel: 'next', remote: remote, class: "text-black no-underline p-2 border border-solid border-gray-600 hover:border hover:border-solid hover:border-white hover:bg-gray-700 hover:text-gray-200" %>
</span>
