<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="text-indigo-700 page<%= ' current' if page.current? %>">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel, class: "text-black no-underline p-2 border border-solid border-gray-600 hover:border hover:border-solid hover:border-white hover:bg-gray-700 hover:text-gray-200" } %>
</span>
