<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-3 md:mx-auto px-2 pb-2 sm:mx-32 bg-purple-200 rounded-lg">
  <div class="w-full shadow rounded p-8 sm:p-10">
    <%= render 'togo_inu_shitsuke_hiroba/users/signup_form' %>
  </div>
</div>
