<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mt-5">
  <div class="container bg-purple-200 w-full shadow rounded p-8 sm:p-10">
    <%= render 'togo_inu_shitsuke_hiroba/dog_registration/dog_registration_form' %>
  </div>
</div>
