@tailwind base;
@tailwind components;
@tailwind utilities;

.pagy-nav.pagination {
  display: inline-flex;
  border-radius: 0.375rem;
  z-index: 0;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pagy-nav .page {
  --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    display: inline-flex;
    border-width: 1px;
    border-color: #94a3b8;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(192, 204, 218, var(--tw-border-opacity));
    padding: 0.75rem;
}

.pagy-nav .page:hover {
  background: #6d28d9;
  color: white;
  cursor: pointer;
}

.pagy-nav .disabled {
  color: gray;
}

.pagy-nav .active {
  background: #c084fc;
  color: white;
  border-width: 1px;
  border-color: #94a3b8;
}

.pagy-nav .prev {
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

strong{
font-weight: bolder !important;
}
.pagy-nav .next {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.scroller {
  scroll-snap-type: y;
  scroll-padding-block-start: 64px;
}
