<% content_for(:title, @title) %>
<div class="max-w-5xl md:mx-auto lg:px-8">
  <div class="container bg-purple-200 w-full p-8 sm:p-10">
    <p class="text-2xl font-bold leading-7 text-center text-gray-700 mb-5">
      <%= @title %>
    </p>
    <%= content %>
  </div>
</div>
