<% content_for(:title, @title) %>
<div class="max-w-5xl md:mx-auto sm:px-6 lg:px-8">
  <div class="bg-purple-200 w-full shadow rounded p-8 sm:p-12">
    <%= simple_format(@title, { class: 'text-xl font-bold leading-7 text-center mb-5' }, { wrapper_tag: "div" } ) %>
    <%= render 'shared/refer_to_app_sns' %>
    <%= content %>
  </div>
</div>
